/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/bin/
/web/sitemap/*
/web/uploads
/nbproject/
/*.sublime-project
/*.sublime-workspace
/web/app_dev.php
/.phpintel/*
/.sonar/*
/.vscode/*
*.php~
