{% extends "base_admin.html.twig" %}

{% block content %}
    <p style="padding-top: 10px">
        {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
    </p>
    <h4>
        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
    </h4>
{% endblock %}
