Bonjour {{ user.lastname }} {{ user.firstname }},<br><br>

Un évènement vient d'être ajouté. Vous pouvez le consulter <a href="{{ url('admin_evenement_edit', { 'id': event.id }) }}">ici</a> .<br><br>

Merci
