/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 nov. 2016, 09:29:04
    Author     : holy.pascale
*/

/* Large desktop */
@media (min-width: 1200px) { 
     #page-wrapper{
        width:100%;
    }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
 #page-wrapper{
        width:100%;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
     #page-wrapper{
        width:100%;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) { 
    .logo-header{
        display: block;
        float: left;
        width: 100px;
    }
    .logo-header .appli-name{
        display: block;
        font-size:12px;
        text-align: center;
        width:100%;
    }
    .logo-header .logo-img{
        clear: both;
        display: block;
        margin: 15px auto 0;
        width: 50px;
    }
    
    .menu-header{
        background:red;
        position:relative;
        z-index:10000;
    }
    .consequence{
        margin-top:10px;
    }
    .consequence p{
        font-size:24px;
    }
    #page-wrapper{
        width:100%;
    }
}